[Unit]
Description=Timer for wan-watcher.service

[Timer]
OnBootSec=120s
OnUnitActiveSec=5m
Unit=wan-watcher.service

[Install]
WantedBy=basic.target
