[Unit]
Description=WAN-Watcher
After=network-online.target
OnFailure=alert-notification@%i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /opt/WAN-Watcher/wan-watcher.sh
